    /* Estilo de la barra de navegación */

    .navegacion {
        display: flex;
        list-style: none;
        margin: 10;
        background: rgb(242, 216, 123);
        padding: auto;
    } 
    .navegacion a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 10px;
        display: block;
    }
    .navegacion a:hover {
        background: rgb(209, 180, 74);
    }
    .navegacion li {
        flex: 0 1 0;
        padding-top: 22px;
    }

    .logo {
        width: 64px;
        height: 64px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* Estilo del pie de página */

    footer {
        display: grid;
        grid-template-columns: 4fr 4fr 2fr;
        grid-template-areas:
          "descripcion descripcion descripcion"
          "menu derechos autor";
        gap: 7px;
        padding: 12px;
        text-align: center;
        font: 12px sans-serif;
        background: rgb(242, 216, 123);
    }

    footer a {
        text-decoration: none;
        padding: 10px;
        display: block;
    }

    footer a:hover {
        background: rgb(209, 180, 74);
    }

    /* Asignación de áreas (pie de página) */

    .autor {
        grid-area: autor;
        text-align: left;
    }

    .derechos {
        grid-area: derechos;
        text-align: left;
    }

    .menu {
        grid-area: menu;
        list-style: none;
        text-align: left;
    }

    .descripcion {
        grid-area: descripcion;
        text-align: center;
    }

    /* Estilo de página de categoría genérica */

    .categoria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "intro intro intro intro intro"
          "texto5 texto5 foto5 foto5 foto5"
          "foto4 foto4 foto4 texto4 texto4"
          "texto3 texto3 foto3 foto3 foto3"
          "foto2 foto2 foto2 texto2 texto2"
          "texto1 texto1 foto1 foto1 foto1"
          "outro outro outro outro outro";
        gap: 10vw 6vw;
        padding: 10vw;
        width: 100%;
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1vw;
        box-sizing: border-box;
        overflow: hidden;
    }

    img {
        object-fit: contain;
        max-width: 100%;
        max-height: 90%;
    }

        /* Estilo de página principal */

    .principal {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "intro intro intro intro intro"
          "texto3 texto3 foto3 foto3 foto3"
          "foto2 foto2 foto2 texto2 texto2"
          "texto1 texto1 foto1 foto1 foto1"
          "outro outro outro outro outro";
          gap: 10vw 6vw;
          padding: 10vw;
          width: 100%;
          text-align: center;
          font-family:Verdana, Geneva, Tahoma, sans-serif;
          font-size: 1vw;
          box-sizing: border-box;
          overflow: hidden;
    }

    /* Estilo de página de contacto */

    .contacto {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
          "texto1 foto1 formulario";
          gap: 10vw 6vw;
          padding: 10vw;
          width: 100%;
          text-align: center;
          font-family:Verdana, Geneva, Tahoma, sans-serif;
          font-size: 1vw;
          box-sizing: border-box;
          overflow: hidden;
    }

    input:user-invalid {
        border: 2px solid red;
        box-shadow: 0 0 2px red;
        outline: red;
      }

    input[type="text"]:valid {
        border: 2px solid green;
        box-shadow: 0 0 2px green;
        outline: green;
      }

    /* Asignación de áreas (categoría genérica) */

    .intro {
        grid-area: intro;
        text-align: center;
    }

    .texto1 {
        grid-area: texto1;
        text-align: left;
    }

    .foto1 {
        grid-area: foto1;
    }

    .texto2 {
        grid-area: texto2;
        text-align: left;
    }

    .foto2 {
        grid-area: foto2;
    }

    .texto3 {
        grid-area: texto3;
        text-align: left;
    }

    .foto3 {
        grid-area: foto3;
    }

    .texto4 {
        grid-area: texto4;
        text-align: left;
    }

    .foto4 {
        grid-area: foto4;
    }

    .texto5 {
        grid-area: texto5;
        text-align: left;
    }

    .foto5 {
        grid-area: foto5;
    }

    .outro {
        grid-area: outro;
        text-align: center;
    }

    .image {
        width: 100%;
        object-fit: contain;
    }